
<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-column">
                <img src="images/logo.png" alt="Logo" class="footer-logo">
                <p>Hotline: 1900 633 045</p>
                <p>Email: sales@flowercorner.vn</p>
                </div>

            <div class="footer-column">
                <h4>CHĂM SÓC KHÁCH HÀNG</h4>
                <ul>
                    <li><a href="#">Giới Thiệu</a></li>
                    <li><a href="#">Liên Hệ</a></li>
                    <li><a href="#">Chính Sách Vận Chuyển</a></li>
                    <li><a href="#">Câu Hỏi Thường Gặp</a></li>
                    <li><a href="#">Chính Sách Hoàn Tiền</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h4>THEO DÕI</h4>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Youtube</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h4>SHOP HOA FLOWERCORNER</h4>
                <p><strong>Cửa hàng chính:</strong> 395 Nguyễn TRãi 1, Phường Chu Văn An, Thành phố Hải Phòng</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2025 FlowerCorner. All rights reserved.</p>
        </div>
    </div>
</footer>