<header>
    <div class="container main-header">
        <div class="header-left">
            <a href="#" title="Facebook"><img src="https://img.icons8.com/ios-filled/50/000000/facebook-new.png" alt="Facebook"></a>
            <a href="#" title="Zalo"><img src="https://img.icons8.com/ios-filled/50/000000/zalo.png" alt="Zalo"></a>
            <a href="tel:1900633045" title="Hotline"><img src="https://img.icons8.com/ios-filled/50/000000/phone.png" alt="Hotline"></a>
        </div>

        <div class="header-center">
            <a href="index.html" class="logo">
                <img src="images/logo.png" alt="Logo FlowerCorner">
            </a>
        </div>

        <div class="header-right">
            <div class="search-bar">
                <input type="text" placeholder="Tìm kiếm sản phẩm...">
                <button>🔍</button>
            </div>
            <div class="user-actions">
                <a href="cart.html" class="cart-button">
                    <img src="https://img.icons8.com/sf-regular/48/ffffff/shopping-cart.png" alt="Giỏ hàng">
                    <span id="cart-count">0</span>
                </a>
            </div>
        </div>
    </div>
</header>
<nav>
<nav>
    <div class="container">
        <ul>
            <li class="dropdown">
                <a href="category.html?cat=hoa-tuoi">HOA TƯƠI</a>
                <ul class="dropdown-menu">
                    <li><a href="category.html?cat=hoa-hong">Hoa Hồng</a></li>
                    <li><a href="category.html?cat=hoa-huong-duong">Hoa Hướng Dương</a></li>
                    <li><a href="category.html?cat=hoa-tulip">Hoa Tulip</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="category.html?cat=hoa-su-kien">HOA SỰ KIỆN</a>
                <ul class="dropdown-menu">
                    <li><a href="category.html?cat=hoa-sinh-nhat">Hoa Sinh Nhật</a></li>
                    <li><a href="category.html?cat=hoa-khai-truong">Hoa Khai Trương</a></li>
                    <li><a href="category.html?cat=hoa-cuoi">Hoa Cưới</a></li>
                    <li><a href="category.html?cat=hoa-chia-buon">Hoa Chia Buồn</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="category.html?cat=qua-tang">QUÀ TẶNG</a>
                <ul class="dropdown-menu">
                    <li><a href="category.html?cat=gau-bong">Gấu Bông</a></li>
                    <li><a href="category.html?cat=socola">Sô-cô-la</a></li>
                    <li><a href="category.html?cat=banh-kem">Bánh Kem</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="category.html?cat=hoa-qua">HOA QUẢ</a>
                <ul class="dropdown-menu">
                    <li><a href="category.html?cat=gio-hoa-qua">Giỏ Hoa Quả Nhập Khẩu</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="category.html?cat=chu-de">CHỦ ĐỀ</a>
                <ul class="dropdown-menu">
                    <li><a href="category.html?cat=chu-de-lang-man">Phong cách Lãng mạn</a></li>
                    <li><a href="category.html?cat=chu-de-sang-trong">Phong cách Sang trọng</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="category.html?cat=thiet-ke">THIẾT KẾ</a>
                <ul class="dropdown-menu">
                    <li><a href="category.html?cat=thiet-ke-bo-hoa">Bó Hoa</a></li>
                    <li><a href="category.html?cat=thiet-ke-hop-hoa">Hộp Hoa</a></li>
                    <li><a href="category.html?cat=thiet-ke-lang-hoa">Lẵng Hoa</a></li>
                </ul>
            </li>
            <li class="sale"><a href="category.html?cat=qua-tang-giam-sau">QUÀ TẶNG GIẢM SÂU</a></li>
        </ul>
    </div>
</nav>